services:
  mqtt:
    image: eclipse-mosquitto:2
    ports:
      - "1883:1883"
    volumes:
      - ./config/mosquitto.conf:/mosquitto/config/mosquitto.conf

  nodejs-server:
    build:
      context: ./bridge
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - MQTT_HOST=mqtt
      - MQTT_PORT=1883
